@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-sm-4">
            <img width="370" height="277" style="margin-top: 20px" src="../../map.PNG" alt="Alternate Text" />
        </div>  
        
        <div class="col-sm-8" style="margin-top: 20px">
            <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
        </div>
    </div>
</div>