@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-sm-4">
            <img width="370" height="277" style="margin-top: 20px" src="../../map.PNG" alt="Alternate Text" />
        </div>  
        
        <div class="col-sm-8" style="margin-top: 20px">
            <p>Адрес:
                Технически университет-София
                София 1000,
                бул."Кл. Охридски" 8

                За информация:
                маг. икон. Росица Банова Маркова
                e-mail: info@tu-sofia.bg
                Кабинет: 2125
                тел.: +359/02-965-2844
                тел.: +359/02-965-2845</p>
        </div>
    </div>
</div>