@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">   
        <h2>Факултети</h2>    
        <hr/>
        <div class="col-lg-6" style="margin-top: 20px">    
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 1</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div>   
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 2</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div> 
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 3</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div> 
        </div> 
        
        <div class="col-lg-6" style="margin-top: 20px">    
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 4</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div>   
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 5</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div> 
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет 6</h3>
                <p> sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa  sad asdasd asd asd asd asd asd ad ad ads da das dasd asda sda sdas das dasdas das dasdas dasad sa </p>
            </div> 
        </div>
    </div>
</div>