@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">   
        <h2>Факултети</h2>    
        <hr/>
        <div class="col-lg-6" style="margin-top: 20px">    
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет Автоматика</h3>
                <p> Факултет Автоматика (ФА) е създаден с Разпореждане №159 от 07.08.1974 на МС и е един от големите факултети в ТУ-София. Характерно за Факултет Автоматика е, че преподаваните учебни дисциплини са с фундаментален и надотраслов характер. Това осигурява на завършилите специалисти възможности за реализация във всички сфери на индустрията и икономиката. Структурата на ФА включва ...
                </p>
            </div>   
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет Компютърни системи и технологии</h3>
                <p> Бързото развитие и усъвършенстване на компютърните технологии, както и големия брой IT фирми, работещи в областта на създаване и приложение на компютърни и информационни технологии, налага необходимост от високо квалифицирани професионалисти, използващи съвременните технологични иновации. Тъй като търсенето на добре подготвени професионалисти в областта на компютърните науки е много голямо във вси...
                </p>
            </div> 
            <div class="col-md-12" style="margin-top: 20px">
                <h3>Факултет по транспорта</h3>
                <p>Факултетът по транспорт в Машинно-електротехническия институт – София съществува самостоятелно от 18 юни 1963 г, с катедри „Двигатели с вътрешно горене и автомобили“, “Техническа Механика“, „Подвижен железопътен състав“ и „Електрически транспорт“. Днес във факултета има пет катедри: „Въздушен транспорт“, „Двигатели, автомоб...
                </p>
            </div> 
        </div> 
        
        <div class="col-lg-6" style="margin-top: 20px">    
            <div class="col-md-12" style="margin-top: 20px">
                <h3>Стопански факултет</h3>
                <p>Стопански факултет е един от най-големите и бързо развиващи се факултети на Технически университет – София. Създаден е през 1991 година с цел да отговори на растящия интерес към обучение, съчетаващо икономически и мениджърски дисциплини със засилена подготовка в областта на индустриалните и информационните технологии. Обучението в Стопански факултет се основава на дългогодишните традиции ...
                </p>
            </div> 
            <div class="col-md-12" style="margin-top: 20px">
                <h3>Факултет приложна математика и информатика</h3>
                <p> ФПМИ е създаден с ПМС 36/24.03.2000 на базата на структурното звено Институт по приложна математика и информатика на ТУ–София. Започнал  началото си от  катедра по Висша математика,  преминал последователно през етапите  на Център по приложна математика (ЦПМ) и Институт по приложна математика и информатика (ИПМИ),  днес  ФПМИ е един от основните факултети на ТУ....
                </p>
            </div>
            <div class="col-md-12" style="margin-top: 20px">    
                <h3>Факултет за германско инженерно обучение и промишлен мениджмънт</h3>
                <p>Факултетът за германско инженерно обучение и промишлен мениджмънт (ФаГИОПМ) е създаден през 1990 г. в резултат на междуправителствена спогодба на Република България с Федерална Република Германия. Обучението във Факултета се провежда изцяло по германски учебни планове, на немски език от германски и български преподаватели по специалностите: Общо машиностроене - ( на немски език съвместно с Универс...
                </p>
            </div>
        </div>
    </div>
</div>