@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <h2>История</h2>
        <hr />
    </div>    
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-4">
                <img width="370" height="277" style="margin-top: 20px" src="../../map.PNG" alt="Alternate Text" />
            </div>  
            <div class="col-sm-8" style="margin-top: 20px">
                <p> Техническият университет - София (ТУ-София) е най-големият учебно-научен комплекс в България в областта на техническите и приложните науки, съхранил в себе си добрите традиции във висшето образование, заложени от неговите създатели. Като първи и най-голям политехнически център, подпомогнал създаването на повечето от висшите технически училища в страната, вече 70 години той дефинира образователните стандарти и въвежда националните приоритети за развитие на инженерното образование и наука.
                    В структурата си включва 14 факултета в София, три департамента, Център за информационни ресурси, Библиотечно–информационен център, Център за международни срещи, Център за непрекъснато обучение, Център за образователни и иновационни проекти, Университетски научноизследователски комплекс за иновации и трансфер на знания в областта на микро/нанотехнологиите и материалите, енергийната ефективност и виртуалното инженерство, докторантски училища, Научно–изследователски сектор, Малки предприятия, Филиал в гр. Пловдив с два факултета, Инженерно-педагогически факултет и колеж в гр. Сливен, Колеж по енергетика и електроника и две средни училища - Технологично училище „Електронни системи”  в София и Професионална гимназия по компютърни технологии и системи в гр. Правец.
                    В Техническия университет - София се обучават над 10 000 български и близо 1000 чуждестранни студенти в степените „професионален  бакалавър“, „бакалавър“, „магистър“ и „доктор“  по синхронизирани учебни планове и програми с Германия, Франция и Англия, а системата за трансфер на кредити позволява обучение и в европейски университети през определен период от следването  при пълно признаване на изучаваните  дисциплини и положените изпити.  Приоритетна цел в дейността на Техническия университет – София е качественото обучение, съобразено със съвременните изисквания, утвърждаващи неговия престиж като водещ образователен център на европейско и световно ниво. Академичната общност мотивирано и упорито търси пътища за професионално израстване и развитие в съответствие с основните организационни ценности: академична свобода, принципност и честност, етичност, глобално мислене, креативност, иновативност, социална ангажираност.
                    Благодарение на многобройните спечелени научноизследователски и образователни проекти Университетът разполага със съвременна материална база, оборудвана за обучение и изследвания на световно ниво, уникално не само за страната, но и за Централна и Източна Европа.
                    За международния авторитет, признание и известност на ТУ – София свидетелство са десетките сключени договори за взаимно сътрудничество и активните връзки с над 50 висши училища от Европа, Азия, Северна и Централна Америка, както и неговото членството в реномирани световни и европейски организации, участия в множество проекти по програми на ЕС, ЮНЕСКО, НАТО и др.
                    Ние непрекъснато се стремим да поддържаме високо равнище на компетентност, ангажираност и мотивираност на академичния състав, да подобряваме практическата приложимост на обучението и административното обслужване на учебния процес, да  повишаваме изискванията към студентите и докторантите. Неизброими са възможностите, инициативите и предизвикателствата пред нашите преподаватели и възпитаници за постигане на индивидуалните и общите ни цели, както и високата оценка на обществото за нас.
                    Университетът е вечно млад дух, събрал в себе си хиляди емоции, очаквания, желания, мечти, надежди. Благодаря на тези, които го създадоха, благодаря на тези, които го развиват, благодаря и на тези, които ще дадат всичко от себе си, той да пребъде!</p>
            </div>
        </div>    
    </div>  

    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-8" style="margin-top: 20px; float: left">
                <p> Техническият университет - София (ТУ-София) е най-големият учебно-научен комплекс в България в областта на техническите и приложните науки, съхранил в себе си добрите традиции във висшето образование, заложени от неговите създатели. Като първи и най-голям политехнически център, подпомогнал създаването на повечето от висшите технически училища в страната, вече 70 години той дефинира образователните стандарти и въвежда националните приоритети за развитие на инженерното образование и наука.
                    В структурата си включва 14 факултета в София, три департамента, Център за информационни ресурси, Библиотечно–информационен център, Център за международни срещи, Център за непрекъснато обучение, Център за образователни и иновационни проекти, Университетски научноизследователски комплекс за иновации и трансфер на знания в областта на микро/нанотехнологиите и материалите, енергийната ефективност и виртуалното инженерство, докторантски училища, Научно–изследователски сектор, Малки предприятия, Филиал в гр. Пловдив с два факултета, Инженерно-педагогически факултет и колеж в гр. Сливен, Колеж по енергетика и електроника и две средни училища - Технологично училище „Електронни системи”  в София и Професионална гимназия по компютърни технологии и системи в гр. Правец.
                    В Техническия университет - София се обучават над 10 000 български и близо 1000 чуждестранни студенти в степените „професионален  бакалавър“, „бакалавър“, „магистър“ и „доктор“  по синхронизирани учебни планове и програми с Германия, Франция и Англия, а системата за трансфер на кредити позволява обучение и в европейски университети през определен период от следването  при пълно признаване на изучаваните  дисциплини и положените изпити.  Приоритетна цел в дейността на Техническия университет – София е качественото обучение, съобразено със съвременните изисквания, утвърждаващи неговия престиж като водещ образователен център на европейско и световно ниво. Академичната общност мотивирано и упорито търси пътища за професионално израстване и развитие в съответствие с основните организационни ценности: академична свобода, принципност и честност, етичност, глобално мислене, креативност, иновативност, социална ангажираност.
                    Благодарение на многобройните спечелени научноизследователски и образователни проекти Университетът разполага със съвременна материална база, оборудвана за обучение и изследвания на световно ниво, уникално не само за страната, но и за Централна и Източна Европа.
                    За международния авторитет, признание и известност на ТУ – София свидетелство са десетките сключени договори за взаимно сътрудничество и активните връзки с над 50 висши училища от Европа, Азия, Северна и Централна Америка, както и неговото членството в реномирани световни и европейски организации, участия в множество проекти по програми на ЕС, ЮНЕСКО, НАТО и др.
                    Ние непрекъснато се стремим да поддържаме високо равнище на компетентност, ангажираност и мотивираност на академичния състав, да подобряваме практическата приложимост на обучението и административното обслужване на учебния процес, да  повишаваме изискванията към студентите и докторантите. Неизброими са възможностите, инициативите и предизвикателствата пред нашите преподаватели и възпитаници за постигане на индивидуалните и общите ни цели, както и високата оценка на обществото за нас.
                    Университетът е вечно млад дух, събрал в себе си хиляди емоции, очаквания, желания, мечти, надежди. Благодаря на тези, които го създадоха, благодаря на тези, които го развиват, благодаря и на тези, които ще дадат всичко от себе си, той да пребъде!</p>
            </div>

            <div class="col-sm-4" style="float: right">
                <img width="370" height="277" style="margin-top: 20px" src="../../map.PNG" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>