@{
    ViewBag.Title = "ПТС Проект";
}
 
<div class="row">
    <div class="col-md-12">
        <h2>Новини</h2>
    </div>   
    <hr>
</div>

<div class="row">
    <div class="col-md-12" style="background-color: lavender">
        <h2>Новината 1</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>   
    
    <div class="col-md-12" style="background-color: lavender">
        <h2>Новината 2</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    
    <div class="col-md-12" style="background-color: lavender">
        <h2>Новината 3</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
</div>