@{
    ViewBag.Title = "ПТС Проект";
}
 
<div class="row">
    <div class="col-md-12">
        <h2>Новини</h2>
    </div>   
    <hr>
</div>

<div class="row">
    <div class="col-md-12" style="background-color: lavender">
        <h2>Отбелязване на 85-та годишнина от рождението на проф. д-р инж. Владимир Гановски
        </h2>
        <p>На 31.05.2017г. от 15:30ч. в зала 4244 ще се проведе тържествено събрание по случай 85-тата годишнина от рождението на основателя на катедра "Автоматизация на дисктретното производство"  проф. д-р инж. Владимир Савов Гановски.</p>
    </div>  
    
    <div class="col-md-12" style="background-color: lavender">
        <h2>Отбелязване на 85-та годишнина от рождението на проф. д-р инж. Владимир Гановски
        </h2>
        <p>На 31.05.2017г. от 15:30ч. в зала 4244 ще се проведе тържествено събрание по случай 85-тата годишнина от рождението на основателя на катедра "Автоматизация на дисктретното производство"  проф. д-р инж. Владимир Савов Гановски.</p>
    </div>  
    
    <div class="col-md-12" style="background-color: lavender">
        <h2>Отбелязване на 85-та годишнина от рождението на проф. д-р инж. Владимир Гановски
        </h2>
        <p>На 31.05.2017г. от 15:30ч. в зала 4244 ще се проведе тържествено събрание по случай 85-тата годишнина от рождението на основателя на катедра "Автоматизация на дисктретното производство"  проф. д-р инж. Владимир Савов Гановски.</p>
    </div>  
</div>