@model dynamic

@{
}

<div class="row">
    <div class="col-md-12">
        <h2>Студенти</h2>
        <hr />
    </div>
    <div class="row">    
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <a class="btn btn-default" href="@Url.Content("~/tasks.docx")">Rules 1</a>
                        </div>    
                        <div class="col-md-12" style="margin-top: 10px;">
                            <a class="btn btn-default" href="@Url.Content("~/tasks.docx")">Rules 1</a>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <a class="btn btn-default" href="@Url.Content("~/tasks.docx")">Rules 1</a>
                        </div>
                    </div>   
                
                </div>
            </div>  
        </div>
       
        <div class="col-md-10">
            dasdasdasdasdasdadasdas
        </div>
    </div>
</div>