
<div class="row">
    <div class="col-md-12">
        <h2>Студенти</h2>
        <hr />
    </div>
    <div class="row">    
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <a onClick="document.getElementById('text').innerHTML='   Уважаеми студенти,заявление-декларация за стипендия за летен семестър на учебната 2016-2017 година се попълва от интернет страницата на ТУ-София за студенти обучавани в следните факултети:';" class="btn btn-default">Стипендии</a>
                        </div>    
                        <div onClick="document.getElementById('text').innerHTML='Отдел „Студентски общежития и столове“, създаден 1998 г., предлага на студентите и докторантите от ТУ – София в редовна форма на обучение, чиито семейства не притежават собствено жилище на територията на Столична община, едни от най-добрите условия за живот и пълноценен отдих, с възможности за продължаване на учебния процес в извънаудиторни условия. На разположение са 10 блока студентски общежития. Три от тях - № 2, № 3 и № 4, се намират в непосредствена близост до Университета, а останалите са в Студентски град. Две от студентските общежития - № 54 и № 59, са специално обособени за настаняване на семейни студенти.';"class="col-md-12" style="margin-top: 10px;">
                            <a class="btn btn-default">Общежития</a>
                        </div>
                        <div onClick="document.getElementById('text').innerHTML='Oще древните шегобийци са казали, че и в рая да се озовеш, без съответните качества, има опасност там изобщо да не ти хареса. И тъй като изборът на висше училище е основополагащ за по-нататъшното развитие на успешна кариера, то по-добре е този избор да бъде обмислен и адекватен на личните ви възможности и на средата, която ви посреща, нали?  Искате да бъдете инженер? Когато на инженера показали прословутата чаша до половина с вода, знаете ли какво възкликнал: Това съдържание е два пъти по-малко от обема! Инженерът е не само умозрителна личност, той решава проблеми!';" class="col-md-12" style="margin-top: 10px;">
                            <a class="btn btn-default">Кандидат-студенти</a>
                        </div>
                    </div>   
                
                </div>
            </div>  
        </div>
       
        <div class="col-md-9" id="text">
            Уважаеми студенти,заявление-декларация за стипендия за летен семестър на учебната 2016-2017 година се попълва от интернет страницата на ТУ-София за студенти обучавани в следните факултети:
        </div>
    </div>
</div>